* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#canvas1 {
  /* background-color: rgb(216, 82, 153); */
  background-color: transparent;
  border: 5px solid black;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  font-family: "Bangers", cursive;
  border-width: 2px;
  color: blue;
  border-color: blueviolet;
}
#layer1,
#layer2,
#layer3,
#layer4,
#player,
#angler1,
#angler2,
#lucky,
#projectile,
#gears,
#hivewhale,
#drone,
#fireExplosion,
#smokeExplosion,
#bulb,
#moon,
#shieldAnimation,
#fireball {
  display: none;
}
h1 {
  font-family: Bangers;
  color: rgb(7, 55, 112);
}
.mainDiv {
  background-image: url("https://i.postimg.cc/jqc70V4x/main-Div-BG.jpg");
  background-size: cover;
  height: 100vh;
  margin: auto;
}
